@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #fa6600;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***Event form*** */
#event-subscription {
  background: linear-gradient(rgba(0, 0, 0, 0.621), rgba(0, 0, 0, 0.653)), url("../img/moto5.jpg");
  background-position: center;
  background-size: cover;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  text-align: center;
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

#disclaimer .about-event {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  width: 100%;
  max-width: 400px;
  margin-top: 2em;
}

#subscription-form p {
  font-size: 1.2em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

.btn:hover {
  opacity: 1;
}

/* Estilização do título */
.texto h2 {
  text-align: center;
  background-color: #95989a;
  padding: 30px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Estilização das imagens */
img.moto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

/* Centralizando os itens */
.motos {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.moto-item {
  text-align: center;
}

/* local */
/* Localização do evento */
#localizacao {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url("img/hd1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--cor-texto);
  margin-bottom: 3em;
}

#endereco,
#sobre-local {
  max-width: 30%;
}

#endereco {
  display: flex;
  align-items: center;
}

#endereco img { 
  width: 60px;
  height: 60px;
  align-items: center;
}


#detalhes-endereco {
  text-align: center;
  font-size: 1.0em;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -30px;
}
  


#sobre-local h3 {
  color: var(--primary);
  font-size: 2.5em;
  margin-bottom: 1em;
  align-items: center;
}

  
#sobre-local p {
  line-height: 1.5em;
}
/* Localização do evento */
#localizacao {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.628)),
  url(../img/hd1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 3em;
}

#endereco,
#sobre-local {
  max-width: 60%;
  text-align: center;
}

#endereco {
  display: flex;
  flex-direction: column; /* Centraliza o ícone e os detalhes do endereço */
  align-items: center;
}
  
#endereco i {
  color: var(--primary);
  font-size: 5em; 
  margin-bottom: 0.5em;
}

#detalhes-endereco {
  font-size: 1.3em;
}

#sobre-local h3 {
  color: var(--primary);
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
  
#sobre-local p {
  line-height: 1.5em;
}



/* Media Queries */
@media (min-width: 768px) {
  #event-subscription {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  #disclaimer h2 {
    font-size: 3em;
  }

  #disclaimer .about-event {
    font-size: 2em;
  }

  
}